$primary: rgb(255, 255, 255);
$background: rgb(245, 245, 245);
$secondary: rgb(46, 44, 44);
$text-secondary: rgb(65, 65, 65);
$ascend: rgb(42, 222, 114);
$link-hover: #20a154;
$link-btn-colorful: rgb(112, 174, 110);
$link-btn: rgb(46, 44, 44);
$error: rgb(196, 23, 23);
$error-dark:rgb(99, 14, 14);